<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>
        <%=farm.name%>
    </h1>
    <h2>Add a Product</h2>
    <!-- Create a form that send a POST request to localhost:3000/farms/:id/products/form once submitted.  -->
    <form action="/farms/<%=farm._id%>/products" method="POST">
        <div>
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name" placeholder="product name">
        </div>
        <div>
            <label for="price">Product Price</label>
            <input type="number" name="price" id="price" placeholder="price">
        </div>
        <div>
            <label for="category">Product Category</label>
            <select name="category" id="category">
                <% for (let category of categories) { %>
                    <option value="<%=category%>">
                        <%=category%>
                    </option>
                    <% } %>
            </select>
        </div>
        <button>Submit</button>
    </form>
    <a href="/farms/<%=farm._id%>">Back to Farm</a>
</body>

</html>